@import "../../theme/variables";

.connection-error-dialog {
  .MuiDialogTitle-root {
    display: flex;
    align-items: center;
    color: $primary-color;
    font-weight: bold;
  }

  .MuiDialogContent-root {
    padding: 1em;
  }

  .MuiDialogActions-root {
    padding: 1em;
    display: flex;
    justify-content: center;
  }

  .MuiButton-containedDefault {
    background-color: $button-default-bg-color;
    color: $button-default-text-color;
  }
}