**/node_modules

.env

dist
target

resources/mri
resources/mri-ui5
resources/portal
resources/ui5
resources/flow
resources/jobs
resources/log-viewer
resources/mapping

**/*-dbg*.js
**/*-preload*.js
**/library-parameters.json