resources/*

!resources/img
!resources/starboard-jupyter
!resources/authenticate.js
!resources/msal-browser.min.js


!.vscode/settings.json
node_modules
npm-debug.log
*.tmp*
target

package-lock.json
pnpm-lock.yaml
yarn-error.log
run_ssh.sh
.DS_Store

dist

**/*-dbg*.js
**/*-preload*.js
**/library-parameters.json

**/*private*
