#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children vertically */
  height: 100%;

  .content-container {
    flex: 1;
  }
}
