.transform-config-dialog {
  .MuiTab-root {
    .alp-checkbox__container {
      margin-bottom: 0;
    }
  }

  &__content {
    height: 100%;
    overflow: auto;
    margin: 1em 1.5em 0;
    color: var(--color-primary);
  }

  .button-group-actions {
    display: flex;
    justify-content: center;
    margin: 24px 0;

    .alp-button__container {
      margin: 0 0 0 8px;
      width: 120px;
    }
  }
}
