.field-target-handle {
  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
    font-size: 0.9em;
    word-break: break-all;
  }

  &__label {
    flex: 1;
  }

  &__column-type {
    text-transform: capitalize;
    width: 100px;
  }

  .mapping-handle__header {
    overflow: auto;
  }

  .alp-icon-button {
    &.Mui-disabled {
      svg {
        opacity: 0.2;
      }
    }
  }
}
