.legal__container {
  display: flex;
  height: 100%;

  .legal__pages {

    .MuiTouchRipple-root {
      color: transparent;
    }

    .MuiDrawer-docked {
      height: 100%;
    }

    .MuiDrawer-paper {
        z-index: 0;
        position: relative;
        height: 100%;
        overflow-x: hidden;
        color: var(--color-primary);
    }

    .MuiListItemIcon-root {
      min-width: 48px;
    }

    .MuiList-root {
      :hover {
        background-color: #eef6ff;
        .MuiTypography-body1 {
          font-weight: 500;
        }
      }
      .MuiListItem-gutters {
        padding: 8px 25px;
      }
      .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
        background-color: #eef6ff;
        .MuiTypography-body1 {
          font-weight: 500;
        }
      }
    }

    .MuiList-padding {
      padding: 0;
    }
  }
  .legal__content {
    border-left: 1px solid var(--color-neutral-lighter);
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }
  .tab__content {
    margin: 0;

    &__container {
      margin: 32.5px 134px;

      .page-header{
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: var(--color-primary);
        margin-bottom: 24px;
      }

      .sub-header {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.27px;
        color: var(--color-neutral);
      }

      .content {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.27px;
        color: var(--color-neutral);
        white-space: pre-line;

        a {
          color: var(--color-neutral);
        }
      }

      .margin-small {
        margin-bottom: 16px;
      }

      .margin-medium {
        margin-bottom: 24px;
      }

      .margin-large {
        margin-bottom: 32px;
      }

      .strong {
        font-weight: bold;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      height: 32px;
      font-size: 20px;
      font-weight: 500;
      color: var(--color-primary);
    }

    &__info {
      width: 70%;
    }
  }
}





