header.portal__header {
  display: flex;
  height: 72px;
  justify-content: space-between;
  background: #ccdef1;
  color: var(--color-primary);
  align-items: center;
  z-index: 3;

  .logo {
    display: flex;
    align-items: center;

    > img {
      margin-left: 34px;
    }
  }
}

.header__title {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  margin: 17px 16px;
}

.header__menu-group {
  text-align: right;
  padding-right: 10px;

  span {
    margin-right: -6px;
  }

  svg {
    position: relative;
    top: 8px;
    right: 6px;
  }
}

.header__menu-group ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 16px;
    display: inline-block;
    position: relative;

    > a {
      display: inline-block;
      padding: 26px 16px;
    }

    > p {
      display: inline-block;
      padding: 10px 8px;
    }

    &.header__menu-overview,
    &.header__portal-switcher {
      svg {
        position: relative;
        right: 16px;
      }
    }

    &.header__menu-item--active {
      font-weight: 500;

      &:hover {
        background-color: initial;

        > a {
          cursor: pointer;
        }
      }
    }

    p::before {
      display: block;
      content: attr(data-text);
      font-weight: 500;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    a::before {
      display: block;
      content: attr(data-text);
      font-weight: 500;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }

  li:hover {
    p,
    a {
      color: #3a52a8;
    }

    p {
      cursor: default;
    }

    svg {
      filter: brightness(0) saturate(100%) invert(28%) sepia(13%)
        saturate(5728%) hue-rotate(204deg) brightness(96%) contrast(86%);
    }
  }
}

.header__menu-group a {
  text-decoration: none;
  color: #000080;
}

.portal__menu ul {
  padding: 0;
}

.portal__menu-content {
  li,
  a {
    &:hover {
      background-color: #ebf2fa;
      font-weight: 500;
    }
  }

  .MuiTouchRipple-root {
    color: transparent;
  }

  span::before {
    display: block;
    content: attr(data-text);
    font-weight: 500;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .MuiListItem-root.Mui-selected {
    background-color: #ebf2fa;
    font-weight: 500;
  }
}

.study_overview___tenant {
  font-size: 14px;
  color: #595757;
  margin: 12px 12px 4px 12px;
}

.portal__menu-item {
  margin: 0 8px;
  min-width: 80px;
  color: #001579;

  img {
    position: absolute;
    left: 0.3em;
    top: 0.7em;
    height: 16px;
    width: 16px;
  }

  &__is-active {
    font-weight: 500;
  }
}

// Hover menu settings
.MuiMenu-paper {
  pointer-events: auto;
}
