@font-face {
    font-family: 'SAP-MRI-icons';
    font-style: normal;
    font-weight: normal;
    src: local('SAP-MRI-icons'), url('../assets/fonts/SAP-MRI-icons.woff') format('woff'), url('../assets/fonts/SAP-MRI-icons.ttf') format('truetype');
}

@font-face {
    font-family: 'SAP-FFH-icons';
    font-style: normal;
    font-weight: normal;
    src: local('SAP-FFH-icons'), url('/sap/hc/hph/core/ui/assets/fonts/SAP-FFH-icons.woff') format('woff'), url('/sap/hc/hph/core/ui/assets/fonts/SAP-FFH-icons.ttf') format('truetype');
}

.commonChunk() {
    @import "base.less";
}

@import "../lib/themes/sap_belize/library.source.less";
@sapMriBrand: #008fd3;
@sapMriBrandSelected: none;
@sapMriBrandHover: #007eba;
@sapUiDarkText: #333333;
@sapUiMediumText: #444444;
@sapUiLightText: #666666;
@sapMriDisabledText: #cdcdcd;
@sapMriLightestText: #ffffff;
@sapUiDarkestBorder: #000000;
@sapUiExtraDarkBorder: #999999;
@sapUiDarkBorder: #bfbfbf;
@sapUiMediumBorder: #cccccc;
@sapUiLightBorder: #dddddd;
@sapUiExtraLightBorder: #e5e5e5;
@sapUiLightestBorder: #ffffff;
@sapUiDarkestBG: #000000;
@sapUiExtraDarkBG: #333333;
@sapUiDarkBG: #777777;
@sapUiMediumBG: #dddddd;
@sapUiLightBG: #e5e5e5;
@sapUiExtraLightBG: #f2f2f2;
@sapUiLightestBG: #ffffff;
@sapUiFocus: #005483;
@sapMriTokenValidSyntaxBG: #8fdbfe;
@sapMriTokenValidBG: #007db7;
@sapMriTokenInvalidBG: #e23101;
@sapMriTokenPendingBG: #777777;
@sapMriTokenValidSyntaxBorder: #0076ad;
@sapMriValidSyntaxText: #005c87;
@sapMriTokenValidBorder: #223a80;
@sapMriTokenInvalidBorder: #333333;
@sapMriTokenPendingBorder: #494949;
.commonChunk();
.sapUiTheme-sap_bluecrystal {
    @sapMriBrand: #008fd3;
    @sapMriBrandSelected: none;
    @sapMriBrandHover: #007eba;
    @sapUiDarkText: #333333;
    @sapUiMediumText: #444444;
    @sapUiLightText: #666666;
    @sapMriDisabledText: #cdcdcd;
    @sapMriLightestText: #ffffff;
    @sapUiDarkestBorder: #000000;
    @sapUiExtraDarkBorder: #999999;
    @sapUiDarkBorder: #bfbfbf;
    @sapUiMediumBorder: #cccccc;
    @sapUiLightBorder: #dddddd;
    @sapUiExtraLightBorder: #e5e5e5;
    @sapUiLightestBorder: #ffffff;
    @sapUiDarkestBG: #000000;
    @sapUiExtraDarkBG: #333333;
    @sapUiDarkBG: #777777;
    @sapUiMediumBG: #dddddd;
    @sapUiLightBG: #e5e5e5;
    @sapUiExtraLightBG: #f2f2f2;
    @sapUiLightestBG: #ffffff;
    @sapUiFocus: #005483;
    @sapMriTokenValidSyntaxBG: #8fdbfe;
    @sapMriTokenValidBG: #007db7;
    @sapMriTokenInvalidBG: #e23101;
    @sapMriTokenPendingBG: #777777;
    @sapMriTokenValidSyntaxBorder: #0076ad;
    @sapMriValidSyntaxText: #005c87;
    @sapMriTokenValidBorder: #223a80;
    @sapMriTokenInvalidBorder: #333333;
    @sapMriTokenPendingBorder: #494949;
    .commonChunk();
}

.sapUiTheme-sap_hcb {
    @sapMriBrand: #ffffff;
    @sapMriBrandSelected: #0f5d94;
    @sapMriBrandHover: #7a5100;
    @sapUiDarkText: #ffffff;
    @sapUiMediumText: #ffffff;
    @sapUiLightText: #ffffff;
    @sapMriDisabledText: #ffffff;
    @sapMriLightestText: #ffffff; //
    @sapUiDarkestBorder: #ffffff;
    @sapUiExtraDarkBorder: #ffffff;
    @sapUiDarkBorder: #ffffff;
    @sapUiMediumBorder: #ffffff;
    @sapUiLightBorder: #ffffff;
    @sapUiExtraLightBorder: #ffffff;
    @sapUiLightestBorder: #ffffff;
    @sapUiDarkestBG: #000000;
    @sapUiExtraDarkBG: #000000;
    @sapUiDarkBG: #000000;
    @sapUiMediumBG: #000000;
    @sapUiLightBG: #000000;
    @sapUiExtraLightBG: #000000;
    @sapUiLightestBG: #000000;
    @sapUiFocus: #ffffff;
    @sapMriTokenValidSyntaxBG: #8fdbfe;
    @sapMriTokenValidBG: #007db7;
    @sapMriTokenInvalidBG: #e23101;
    @sapMriTokenPendingBG: #777777;
    @sapMriTokenValidSyntaxBorder: #0076ad;
    @sapMriValidSyntaxText: #005c87;
    @sapMriTokenValidBorder: #223a80;
    @sapMriTokenInvalidBorder: #333333;
    @sapMriTokenPendingBorder: #494949;
    .commonChunk();
}