.super-account__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ccdef1;

  .super-account__snackbar_message {
    font-weight: bold;
  }

  .super-account__card {
    width: 500px;

    .alp-card__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
.super-account__field {
  line-height: 1.8;
  display: flex;

  > label {
    width: 70px;
    text-align: right;
    margin-right: 10px;
  }
  > div {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .super-account__card {
    margin-right: 30px;
    margin-left: 30px;
  }
}
