$border-color: #ddd;

$primary-color: #000080;
$primary-light-color: #339;
$primary-lighter-color: #999fcb;
$primary-lightest-color: #cccfe5;
$primary-extra-lightest-color: #e5e6f2;

$secondary-color: #ff5e59;
$secondary-light-color: #ffa19d;
$secondary-lighter-color: #ffd0ce;
$secondary-lightest-color: #ffe8e6;

$tertiary-color: #ffd2c3;
$tertiary-light-color: #ffdbcf;
$tertiary-lighter-color: #ffede7;
$tertiary-lightest-color: #fff6f3;

$neutral-color: #595757;
$neutral-light-color: #acaba8;
$neutral-lighter-color: #dedcda;
$neutral-lightest-color: #f2f0f1;
$neutral-extra-lightest-color: #faf8f8;
$neutral-transparent-color: rgba(88,87,87,.05);