@import './mri-variables';
.boolfiltercontainer {
  width: 100%;
  // add ghost class here
  .boolfiltercontainer-content {
    padding: 8px;

    &.tinted {
      margin: 8px 0;
      background-color: $TabBarHeaderBG;
    }
  }
}

.boolfiltercontainer.exclusion {
  margin-top: 0px;
  padding-top: 0px;
  .btn-boolean-toggle {
    display: none;
  }
}
