@import './mri-variables';
.boolContainer {
  .btn-boolean-toggle {
    background-color: $ToggleButtonDarkBG;
    color: $MriLightestText;
    margin: 0 10px;
    font-size: 10px;
    .app-icon {
      margin-left: 8px;
    }
  }
}
