@import './mri-variables';
div.app-segmented-button {
  .app-segmented-list {
    padding-left: 0px;
  }
  .app-segmented-list :not(:first-child) {
    margin-left: -3px;
  }
  .app-segmented-listItem {
    font-size: 0.875rem;
    height: 2.375rem;
    line-height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-shadow: none;
    color: $SegmentedButtonText;
    border: 1px solid #dedede;
    border-right: 0;
    background-color: $UiLightestBG;
    list-style: none;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .app-segmented-listItem:last-child {
    border-right: 1px solid #dedede;
  }
  .app-segmented-listItem:hover {
    background-color: fade_in($color: $MriLightHoverBG, $amount: 0.5);
  }
  .app-segmented-listItem.app-segmented-listItemSelected {
    background: $MriInfoColor;
    color: $SegmentedButtonSelectedText;
    border-color: #006ca7;
  }
  .app-segmented-listItem.app-segmented-listItemSelected:hover {
    background-color: opacify($color: $MriInfoColor, $amount: 0.5);
  }
}
