!.vscode/settings.json
node_modules
npm-debug.log
*.tmp*
pyqeenv
pyomopqlenv
*.pyc
target
dist
.mypy_cache
*.egg-info

package-lock.json
pnpm-lock.yaml
yarn-error.log
run_ssh.sh
.DS_Store

tmp

**/.env
**/*private*
